{{#if pagination}}
<nav class="pagination">
  {{#if (gt pagination.page 1)}}
    <a href="{{pagination.baseUrl}}&page={{dec pagination.page}}">Anterior</a>
  {{/if}}
  <span>Página {{pagination.page}} / {{pagination.totalPages}}</span>
  {{#if (lt pagination.page pagination.totalPages)}}
    <a href="{{pagination.baseUrl}}&page={{inc pagination.page}}">Siguiente</a>
  {{/if}}
</nav>
{{/if}}
